header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.elemets_menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0
}

body {
    background: rgb(131, 128, 128);
}

.img_logo {
    width: 50%;
    height: auto;
}